.Home {
    display: flex;
    margin-right: 150px;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    text-align: center;
}
.img {
    height: 953px;
    width: 885px;
    background-image: url(../../assets/images/Home-Hero-Image.jpg);
    background-size: cover;
    background-position: right;
}

.decoration {
    width: 253px;
    height: 33px;
}

.Home__box__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 3.8rem;
    }
}