@use "../../scss/settings/index" as *;

.Navigation {
  padding-top: 4.5rem;
  padding-right: 15rem;
  &__menu {
    display: flex;
    justify-content: right;
    gap: 5.5rem;
  }
  &__link {
    font-size: 1.8rem;
    color: $colorText;
  }
}
