@use "../../scss/settings/index" as *;

.notFound {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.notFound__container {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		.notFound__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 75px;
			&__title {
				font-size: 4rem;
				font-weight: normal;
				margin-bottom: 2.2rem;
			}
			&__decoration {
				margin-bottom: 4rem;
			}
            &__text {
                font-size: 1.8rem;
            }
		}
		
	}
}
