@use "../../scss/settings/index" as *;

.Hero__text {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 3.8rem;
    font-weight: normal;
    letter-spacing: -0.76px;
    line-height: 5.5rem;
    margin-bottom: 2.5rem;
  }
  &__decoration {
    @include decoration;
  }
}
