@use "../../scss/settings/index" as *;

.register {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.register__container {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		.register__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 75px;
			&__title {
				font-size: 4rem;
				font-weight: normal;
				margin-bottom: 2.2rem;
			}
			&__decoration {
				margin-bottom: 6rem;
			}
		}

		.register__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 500px;
			&__fields {
				width: 395px;
				min-height: 335px;
				background-color: $colorSnowWhite;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 25px;
			}
			&__field {
				width: 250px;
				display: flex;
				flex-direction: column;
				label {
					font-size: 1.6rem;
				}
				input {
					padding: 1rem;
					border: transparent;
					border-bottom: 0.75px solid black;
					background-color: $colorSnowWhite;
                    
				}
			}
			&__actions {
				position: relative;
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-top: 2rem;
				button {
					font-size: 1.8rem;
					padding: 1.5rem;
					color: $colorText;
					background: transparent;
					border: 0.75px solid $colorText;
				}
			}
		}
	}
}
